body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner {
	color: #fff;
	background: #034c8c;
}

.action-list {
	padding: 4px 0;
	background: #f2b705;
	margin-bottom: 0;
}
.pb-list {
	background: #70735d;
	padding-top: 10px;
}

.pb-list-item {
	color: #fff;
	border-bottom: 3px solid #f29f05;
	padding: 2px 0;
	margin-bottom: 10px;
}

.card-header {
	color: #fff;
	background: #f28705;
	font-weight: bold;
	border: none;
}

.btn-contact {
	color: #fff;
	background: #034c8c;
}

.btn-contact:hover {
	color: #F2B705;
}

.card {
	border: none;
}
